<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<th:block layout:fragment="more-css">
    <link rel="stylesheet" type="text/css" th:href="@{webjars/datatables/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/datatables-responsive/css/responsive.dataTables.min.css}"/>
</th:block>
<th:block layout:fragment="content">
    <nav th:replace="fragments/navigation :: nav('user')"></nav>
    <div id="page-wrapper">

    </div>
</th:block>
</html>