<th:block xmlns:th="http://www.thymeleaf.org">
    <script type="" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-table/dist/bootstrap-table.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js}"></script>
    <script th:src="@{/webjars/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/js/bundle.min.js}"></script>
</th:block>